<md-toolbar layout="row" layout-align="center center" class="md-primary md-content">
    <img class="logo-large" src="/Content/Images/logo.png" />
</md-toolbar>
<div layout="column" flex="33" layout-align="center center" >
    <md-input-container md-theme="docs-dark">
        <label>
            Email Address
        </label>
        <input name="email" ng-model="user.Email">
    </md-input-container>
    <md-input-container md-theme="docs-dark">
        <label>Password</label>
        <input name="password" ng-model="user.Password" type="password">
    </md-input-container>
    <md-button class="md-accent md-raised md-hue-1" ng-click="login(user)">Submit</md-button>
    <md-checkbox ng-model="user.remember" aria-label="Checkbox 1">
        Remember Me
    </md-checkbox>
    <div layout-align="left">
        <a href="#">Forgot password?</a>
        <div><span style="color:#6f6f6f">Don't have an account?</span> <a ui-sref="home.register">Sign up now.</a></div>
    </div>
    
</div>
<div class="overlay" ng-show="showSpinner">
    <md-progress-circular class="loader md-accent" md-mode="indeterminate"></md-progress-circular>
</div>


