
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<!--img src="track/getimagefile?artistId=6&albumid=-1&trackId=7" alt="o,age"/><h2>Index</h2>
<img src="track/get"/>-->
<ui-view></ui-view>


